body{
    text-decoration: none !important;
    color: #232528;
    background: #f3f3f3;
}

.title{
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.navbar-custom{
    background-color: #FE7D55;
}

.btn-custom{
    font-size: 1.2rem;
    background-color: transparent;
    color: 	rgba(255, 252, 244, 0.76);
    font-weight: bold;
    border: 0.1rem solid rgba(255, 252, 244, 0.76);
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn-custom:hover{
    text-decoration: none !important;
    background-color: #B15836;
    border: 0.1rem solid #FFFCF4;
    color: #FFFCF4;
}

.nav-text{
    font-weight: bold;
    font-size: 1.2rem;
    color: rgba(255, 252, 244, 0.76);
}
